# SPLiT-seq single-end config for splitcode
# Structure: [UMI:10][BC3:8][Linker1:30][BC2:8][Linker2:22][BC1:8][rest]
# Uses same barcodes as paired-end but for single-end long reads
ID	TAG	GROUP	DISTANCE	NEXT
linker1	GTGGCCGATGTTTCGCATCGGCGTACGACT	linker1	3	{{bc2}}
linker2	ATCCACGTGCTTGAGACTGTGG	linker2	3	{{bc1}}
bc1_0	AACGTGAT	bc1	2	-
bc1_1	AAACATCG	bc1	2	-
bc1_2	ATGCCTAA	bc1	2	-
bc1_3	AGTGGTCA	bc1	2	-
bc1_4	ACCACTGT	bc1	2	-
bc1_5	ACATTGGC	bc1	2	-
bc1_6	CAGATCTG	bc1	2	-
bc1_7	CATCAAGT	bc1	2	-
bc1_8	CGCTGATC	bc1	2	-
bc1_9	ACAAGCTA	bc1	2	-
bc1_10	CTGTAGCC	bc1	2	-
bc1_11	AGTACAAG	bc1	2	-
bc1_12	AACAACCA	bc1	2	-
bc1_13	AACCGAGA	bc1	2	-
bc1_14	AACGCTTA	bc1	2	-
bc1_15	AAGACGGA	bc1	2	-
bc1_16	AAGGTACA	bc1	2	-
bc1_17	ACACAGAA	bc1	2	-
bc1_18	ACAGCAGA	bc1	2	-
bc1_19	ACCTCCAA	bc1	2	-
bc2_0	AACGTGAT	bc2	2	{linker2}
bc2_1	AAACATCG	bc2	2	{linker2}
bc2_2	ATGCCTAA	bc2	2	{linker2}
bc2_3	AGTGGTCA	bc2	2	{linker2}
bc2_4	ACCACTGT	bc2	2	{linker2}
bc2_5	ACATTGGC	bc2	2	{linker2}
bc2_6	CAGATCTG	bc2	2	{linker2}
bc2_7	CATCAAGT	bc2	2	{linker2}
bc2_8	CGCTGATC	bc2	2	{linker2}
bc2_9	ACAAGCTA	bc2	2	{linker2}
bc2_10	CTGTAGCC	bc2	2	{linker2}
bc2_11	AGTACAAG	bc2	2	{linker2}
bc2_12	AACAACCA	bc2	2	{linker2}
bc2_13	AACCGAGA	bc2	2	{linker2}
bc2_14	AACGCTTA	bc2	2	{linker2}
bc2_15	AAGACGGA	bc2	2	{linker2}
bc2_16	AAGGTACA	bc2	2	{linker2}
bc2_17	ACACAGAA	bc2	2	{linker2}
bc2_18	ACAGCAGA	bc2	2	{linker2}
bc2_19	ACCTCCAA	bc2	2	{linker2}
bc3_0	AACGTGAT	bc3	2	{linker1}
bc3_1	AAACATCG	bc3	2	{linker1}
bc3_2	ATGCCTAA	bc3	2	{linker1}
bc3_3	AGTGGTCA	bc3	2	{linker1}
bc3_4	ACCACTGT	bc3	2	{linker1}
bc3_5	ACATTGGC	bc3	2	{linker1}
bc3_6	CAGATCTG	bc3	2	{linker1}
bc3_7	CATCAAGT	bc3	2	{linker1}
bc3_8	CGCTGATC	bc3	2	{linker1}
bc3_9	ACAAGCTA	bc3	2	{linker1}
bc3_10	CTGTAGCC	bc3	2	{linker1}
bc3_11	AGTACAAG	bc3	2	{linker1}
bc3_12	AACAACCA	bc3	2	{linker1}
bc3_13	AACCGAGA	bc3	2	{linker1}
bc3_14	AACGCTTA	bc3	2	{linker1}
bc3_15	AAGACGGA	bc3	2	{linker1}
bc3_16	AAGGTACA	bc3	2	{linker1}
bc3_17	ACACAGAA	bc3	2	{linker1}
bc3_18	ACAGCAGA	bc3	2	{linker1}
bc3_19	ACCTCCAA	bc3	2	{linker1}
@extract <umi[10]>{{bc3}}
