ID	TAG	GROUP	DISTANCE	NEXT
linker1	GTGGCCGCTGTTTCGCATCGGCGTACGACT	linker1	2	{{bc2}}
linker2	ATCCACGTGCTTGAGAGGCCAGAGCATTCG	linker2	2	{{bc1}}
bc1_0	AACGTGAT	bc1	2	-
bc1_1	AAACATCG	bc1	2	-
bc1_2	ATGCCTAA	bc1	2	-
bc1_3	AGTGGTCA	bc1	2	-
bc1_4	ACCACTGT	bc1	2	-
bc1_5	ACATTGGC	bc1	2	-
bc1_6	CAGATCTG	bc1	2	-
bc1_7	CATCAAGT	bc1	2	-
bc1_8	CGCTGATC	bc1	2	-
bc1_9	ACAAGCTA	bc1	2	-
bc1_10	CTGTAGCC	bc1	2	-
bc1_11	AGTACAAG	bc1	2	-
bc1_12	AACAACCA	bc1	2	-
bc1_13	AACCGAGA	bc1	2	-
bc1_14	AACGCTTA	bc1	2	-
bc1_15	AAGACGGA	bc1	2	-
bc1_16	AAGGTACA	bc1	2	-
bc1_17	ACACAGAA	bc1	2	-
bc1_18	ACAGCAGA	bc1	2	-
bc1_19	ACCTCCAA	bc1	2	-
bc1_20	ACGCTCGA	bc1	2	-
bc1_21	ACGTATCA	bc1	2	-
bc1_22	ACTATGCA	bc1	2	-
bc1_23	AGAGTCAA	bc1	2	-
bc1_24	AGATCGCA	bc1	2	-
bc1_25	AGCAGGAA	bc1	2	-
bc1_26	AGTCACTA	bc1	2	-
bc1_27	ATCCTGTA	bc1	2	-
bc1_28	ATTGAGGA	bc1	2	-
bc1_29	CAACCACA	bc1	2	-
bc1_30	GACTAGTA	bc1	2	-
bc1_31	CAATGGAA	bc1	2	-
bc1_32	CACTTCGA	bc1	2	-
bc1_33	CAGCGTTA	bc1	2	-
bc1_34	CATACCAA	bc1	2	-
bc1_35	CCAGTTCA	bc1	2	-
bc1_36	CCGAAGTA	bc1	2	-
bc1_37	CCGTGAGA	bc1	2	-
bc1_38	CCTCCTGA	bc1	2	-
bc1_39	CGAACTTA	bc1	2	-
bc1_40	CGACTGGA	bc1	2	-
bc1_41	CGCATACA	bc1	2	-
bc1_42	CTCAATGA	bc1	2	-
bc1_43	CTGAGCCA	bc1	2	-
bc1_44	CTGGCATA	bc1	2	-
bc1_45	GAATCTGA	bc1	2	-
bc1_46	CAAGACTA	bc1	2	-
bc1_47	GAGCTGAA	bc1	2	-
bc1_48	GATAGACA	bc1	2	-
bc1_49	GCCACATA	bc1	2	-
bc1_50	GCGAGTAA	bc1	2	-
bc1_51	GCTAACGA	bc1	2	-
bc1_52	GCTCGGTA	bc1	2	-
bc1_53	GGAGAACA	bc1	2	-
bc1_54	GGTGCGAA	bc1	2	-
bc1_55	GTACGCAA	bc1	2	-
bc1_56	GTCGTAGA	bc1	2	-
bc1_57	GTCTGTCA	bc1	2	-
bc1_58	GTGTTCTA	bc1	2	-
bc1_59	TAGGATGA	bc1	2	-
bc1_60	TATCAGCA	bc1	2	-
bc1_61	TCCGTCTA	bc1	2	-
bc1_62	TCTTCACA	bc1	2	-
bc1_63	TGAAGAGA	bc1	2	-
bc1_64	TGGAACAA	bc1	2	-
bc1_65	TGGCTTCA	bc1	2	-
bc1_66	TGGTGGTA	bc1	2	-
bc1_67	TTCACGCA	bc1	2	-
bc1_68	AACTCACC	bc1	2	-
bc1_69	AAGAGATC	bc1	2	-
bc1_70	AAGGACAC	bc1	2	-
bc1_71	AATCCGTC	bc1	2	-
bc1_72	AATGTTGC	bc1	2	-
bc1_73	ACACGACC	bc1	2	-
bc1_74	ACAGATTC	bc1	2	-
bc1_75	AGATGTAC	bc1	2	-
bc1_76	AGCACCTC	bc1	2	-
bc1_77	AGCCATGC	bc1	2	-
bc1_78	AGGCTAAC	bc1	2	-
bc1_79	ATAGCGAC	bc1	2	-
bc1_80	ATCATTCC	bc1	2	-
bc1_81	ATTGGCTC	bc1	2	-
bc1_82	CAAGGAGC	bc1	2	-
bc1_83	CACCTTAC	bc1	2	-
bc1_84	CCATCCTC	bc1	2	-
bc1_85	CCGACAAC	bc1	2	-
bc1_86	CCTAATCC	bc1	2	-
bc1_87	CCTCTATC	bc1	2	-
bc1_88	CGACACAC	bc1	2	-
bc1_89	CGGATTGC	bc1	2	-
bc1_90	CTAAGGTC	bc1	2	-
bc1_91	GAACAGGC	bc1	2	-
bc1_92	GACAGTGC	bc1	2	-
bc1_93	GAGTTAGC	bc1	2	-
bc1_94	GATGAATC	bc1	2	-
bc1_95	GCCAAGAC	bc1	2	-
bc2_0	AACGTGAT	bc2	2	{linker2}
bc2_1	AAACATCG	bc2	2	{linker2}
bc2_2	ATGCCTAA	bc2	2	{linker2}
bc2_3	AGTGGTCA	bc2	2	{linker2}
bc2_4	ACCACTGT	bc2	2	{linker2}
bc2_5	ACATTGGC	bc2	2	{linker2}
bc2_6	CAGATCTG	bc2	2	{linker2}
bc2_7	CATCAAGT	bc2	2	{linker2}
bc2_8	CGCTGATC	bc2	2	{linker2}
bc2_9	ACAAGCTA	bc2	2	{linker2}
bc2_10	CTGTAGCC	bc2	2	{linker2}
bc2_11	AGTACAAG	bc2	2	{linker2}
bc2_12	AACAACCA	bc2	2	{linker2}
bc2_13	AACCGAGA	bc2	2	{linker2}
bc2_14	AACGCTTA	bc2	2	{linker2}
bc2_15	AAGACGGA	bc2	2	{linker2}
bc2_16	AAGGTACA	bc2	2	{linker2}
bc2_17	ACACAGAA	bc2	2	{linker2}
bc2_18	ACAGCAGA	bc2	2	{linker2}
bc2_19	ACCTCCAA	bc2	2	{linker2}
bc2_20	ACGCTCGA	bc2	2	{linker2}
bc2_21	ACGTATCA	bc2	2	{linker2}
bc2_22	ACTATGCA	bc2	2	{linker2}
bc2_23	AGAGTCAA	bc2	2	{linker2}
bc2_24	AGATCGCA	bc2	2	{linker2}
bc2_25	AGCAGGAA	bc2	2	{linker2}
bc2_26	AGTCACTA	bc2	2	{linker2}
bc2_27	ATCCTGTA	bc2	2	{linker2}
bc2_28	ATTGAGGA	bc2	2	{linker2}
bc2_29	CAACCACA	bc2	2	{linker2}
bc2_30	GACTAGTA	bc2	2	{linker2}
bc2_31	CAATGGAA	bc2	2	{linker2}
bc2_32	CACTTCGA	bc2	2	{linker2}
bc2_33	CAGCGTTA	bc2	2	{linker2}
bc2_34	CATACCAA	bc2	2	{linker2}
bc2_35	CCAGTTCA	bc2	2	{linker2}
bc2_36	CCGAAGTA	bc2	2	{linker2}
bc2_37	CCGTGAGA	bc2	2	{linker2}
bc2_38	CCTCCTGA	bc2	2	{linker2}
bc2_39	CGAACTTA	bc2	2	{linker2}
bc2_40	CGACTGGA	bc2	2	{linker2}
bc2_41	CGCATACA	bc2	2	{linker2}
bc2_42	CTCAATGA	bc2	2	{linker2}
bc2_43	CTGAGCCA	bc2	2	{linker2}
bc2_44	CTGGCATA	bc2	2	{linker2}
bc2_45	GAATCTGA	bc2	2	{linker2}
bc2_46	CAAGACTA	bc2	2	{linker2}
bc2_47	GAGCTGAA	bc2	2	{linker2}
bc2_48	GATAGACA	bc2	2	{linker2}
bc2_49	GCCACATA	bc2	2	{linker2}
bc2_50	GCGAGTAA	bc2	2	{linker2}
bc2_51	GCTAACGA	bc2	2	{linker2}
bc2_52	GCTCGGTA	bc2	2	{linker2}
bc2_53	GGAGAACA	bc2	2	{linker2}
bc2_54	GGTGCGAA	bc2	2	{linker2}
bc2_55	GTACGCAA	bc2	2	{linker2}
bc2_56	GTCGTAGA	bc2	2	{linker2}
bc2_57	GTCTGTCA	bc2	2	{linker2}
bc2_58	GTGTTCTA	bc2	2	{linker2}
bc2_59	TAGGATGA	bc2	2	{linker2}
bc2_60	TATCAGCA	bc2	2	{linker2}
bc2_61	TCCGTCTA	bc2	2	{linker2}
bc2_62	TCTTCACA	bc2	2	{linker2}
bc2_63	TGAAGAGA	bc2	2	{linker2}
bc2_64	TGGAACAA	bc2	2	{linker2}
bc2_65	TGGCTTCA	bc2	2	{linker2}
bc2_66	TGGTGGTA	bc2	2	{linker2}
bc2_67	TTCACGCA	bc2	2	{linker2}
bc2_68	AACTCACC	bc2	2	{linker2}
bc2_69	AAGAGATC	bc2	2	{linker2}
bc2_70	AAGGACAC	bc2	2	{linker2}
bc2_71	AATCCGTC	bc2	2	{linker2}
bc2_72	AATGTTGC	bc2	2	{linker2}
bc2_73	ACACGACC	bc2	2	{linker2}
bc2_74	ACAGATTC	bc2	2	{linker2}
bc2_75	AGATGTAC	bc2	2	{linker2}
bc2_76	AGCACCTC	bc2	2	{linker2}
bc2_77	AGCCATGC	bc2	2	{linker2}
bc2_78	AGGCTAAC	bc2	2	{linker2}
bc2_79	ATAGCGAC	bc2	2	{linker2}
bc2_80	ATCATTCC	bc2	2	{linker2}
bc2_81	ATTGGCTC	bc2	2	{linker2}
bc2_82	CAAGGAGC	bc2	2	{linker2}
bc2_83	CACCTTAC	bc2	2	{linker2}
bc2_84	CCATCCTC	bc2	2	{linker2}
bc2_85	CCGACAAC	bc2	2	{linker2}
bc2_86	CCTAATCC	bc2	2	{linker2}
bc2_87	CCTCTATC	bc2	2	{linker2}
bc2_88	CGACACAC	bc2	2	{linker2}
bc2_89	CGGATTGC	bc2	2	{linker2}
bc2_90	CTAAGGTC	bc2	2	{linker2}
bc2_91	GAACAGGC	bc2	2	{linker2}
bc2_92	GACAGTGC	bc2	2	{linker2}
bc2_93	GAGTTAGC	bc2	2	{linker2}
bc2_94	GATGAATC	bc2	2	{linker2}
bc2_95	GCCAAGAC	bc2	2	{linker2}
bc3_0	AACGTGAT	bc3	2	{linker1}
bc3_1	AAACATCG	bc3	2	{linker1}
bc3_2	ATGCCTAA	bc3	2	{linker1}
bc3_3	AGTGGTCA	bc3	2	{linker1}
bc3_4	ACCACTGT	bc3	2	{linker1}
bc3_5	ACATTGGC	bc3	2	{linker1}
bc3_6	CAGATCTG	bc3	2	{linker1}
bc3_7	CATCAAGT	bc3	2	{linker1}
bc3_8	CGCTGATC	bc3	2	{linker1}
bc3_9	ACAAGCTA	bc3	2	{linker1}
bc3_10	CTGTAGCC	bc3	2	{linker1}
bc3_11	AGTACAAG	bc3	2	{linker1}
bc3_12	AACAACCA	bc3	2	{linker1}
bc3_13	AACCGAGA	bc3	2	{linker1}
bc3_14	AACGCTTA	bc3	2	{linker1}
bc3_15	AAGACGGA	bc3	2	{linker1}
bc3_16	AAGGTACA	bc3	2	{linker1}
bc3_17	ACACAGAA	bc3	2	{linker1}
bc3_18	ACAGCAGA	bc3	2	{linker1}
bc3_19	ACCTCCAA	bc3	2	{linker1}
bc3_20	ACGCTCGA	bc3	2	{linker1}
bc3_21	ACGTATCA	bc3	2	{linker1}
bc3_22	ACTATGCA	bc3	2	{linker1}
bc3_23	AGAGTCAA	bc3	2	{linker1}
bc3_24	AGATCGCA	bc3	2	{linker1}
bc3_25	AGCAGGAA	bc3	2	{linker1}
bc3_26	AGTCACTA	bc3	2	{linker1}
bc3_27	ATCCTGTA	bc3	2	{linker1}
bc3_28	ATTGAGGA	bc3	2	{linker1}
bc3_29	CAACCACA	bc3	2	{linker1}
bc3_30	GACTAGTA	bc3	2	{linker1}
bc3_31	CAATGGAA	bc3	2	{linker1}
bc3_32	CACTTCGA	bc3	2	{linker1}
bc3_33	CAGCGTTA	bc3	2	{linker1}
bc3_34	CATACCAA	bc3	2	{linker1}
bc3_35	CCAGTTCA	bc3	2	{linker1}
bc3_36	CCGAAGTA	bc3	2	{linker1}
bc3_37	CCGTGAGA	bc3	2	{linker1}
bc3_38	CCTCCTGA	bc3	2	{linker1}
bc3_39	CGAACTTA	bc3	2	{linker1}
bc3_40	CGACTGGA	bc3	2	{linker1}
bc3_41	CGCATACA	bc3	2	{linker1}
bc3_42	CTCAATGA	bc3	2	{linker1}
bc3_43	CTGAGCCA	bc3	2	{linker1}
bc3_44	CTGGCATA	bc3	2	{linker1}
bc3_45	GAATCTGA	bc3	2	{linker1}
bc3_46	CAAGACTA	bc3	2	{linker1}
bc3_47	GAGCTGAA	bc3	2	{linker1}
bc3_48	GATAGACA	bc3	2	{linker1}
bc3_49	GCCACATA	bc3	2	{linker1}
bc3_50	GCGAGTAA	bc3	2	{linker1}
bc3_51	GCTAACGA	bc3	2	{linker1}
bc3_52	GCTCGGTA	bc3	2	{linker1}
bc3_53	GGAGAACA	bc3	2	{linker1}
bc3_54	GGTGCGAA	bc3	2	{linker1}
bc3_55	GTACGCAA	bc3	2	{linker1}
bc3_56	GTCGTAGA	bc3	2	{linker1}
bc3_57	GTCTGTCA	bc3	2	{linker1}
bc3_58	GTGTTCTA	bc3	2	{linker1}
bc3_59	TAGGATGA	bc3	2	{linker1}
bc3_60	TATCAGCA	bc3	2	{linker1}
bc3_61	TCCGTCTA	bc3	2	{linker1}
bc3_62	TCTTCACA	bc3	2	{linker1}
bc3_63	TGAAGAGA	bc3	2	{linker1}
bc3_64	TGGAACAA	bc3	2	{linker1}
bc3_65	TGGCTTCA	bc3	2	{linker1}
bc3_66	TGGTGGTA	bc3	2	{linker1}
bc3_67	TTCACGCA	bc3	2	{linker1}
bc3_68	AACTCACC	bc3	2	{linker1}
bc3_69	AAGAGATC	bc3	2	{linker1}
bc3_70	AAGGACAC	bc3	2	{linker1}
bc3_71	AATCCGTC	bc3	2	{linker1}
bc3_72	AATGTTGC	bc3	2	{linker1}
bc3_73	ACACGACC	bc3	2	{linker1}
bc3_74	ACAGATTC	bc3	2	{linker1}
bc3_75	AGATGTAC	bc3	2	{linker1}
bc3_76	AGCACCTC	bc3	2	{linker1}
bc3_77	AGCCATGC	bc3	2	{linker1}
bc3_78	AGGCTAAC	bc3	2	{linker1}
bc3_79	ATAGCGAC	bc3	2	{linker1}
bc3_80	ATCATTCC	bc3	2	{linker1}
bc3_81	ATTGGCTC	bc3	2	{linker1}
bc3_82	CAAGGAGC	bc3	2	{linker1}
bc3_83	CACCTTAC	bc3	2	{linker1}
bc3_84	CCATCCTC	bc3	2	{linker1}
bc3_85	CCGACAAC	bc3	2	{linker1}
bc3_86	CCTAATCC	bc3	2	{linker1}
bc3_87	CCTCTATC	bc3	2	{linker1}
bc3_88	CGACACAC	bc3	2	{linker1}
bc3_89	CGGATTGC	bc3	2	{linker1}
bc3_90	CTAAGGTC	bc3	2	{linker1}
bc3_91	GAACAGGC	bc3	2	{linker1}
bc3_92	GACAGTGC	bc3	2	{linker1}
bc3_93	GAGTTAGC	bc3	2	{linker1}
bc3_94	GATGAATC	bc3	2	{linker1}
bc3_95	GCCAAGAC	bc3	2	{linker1}
@extract <umi[10]>{{bc3}}
